#box
{

   margin-left:300px;
   margin-top: 10px;

}
.innerdiv{

     display: flex;
     /* flex-wrap: wrap; */
     justify-content: center;
    
}
body{
    text-align: center;
}
.red{

    background-color: #cd5c7b;
  
}
.green
{
    background-color: #579fb8;
   
}
.yellow
{
     background-color: #e2904f;
 ;
}
.blue
{
     background-color: #738ee9;
    
}

.whiteBackground{
   
  animation-name: flash;
  animation-duration: 0.3s;
  animation-iteration-count:infinite;
}

@keyframes flash
{
    0%{
         background-color: white;
    }
    
    50%{
         background-color: rgb(113, 177, 240);
    }
    100%
    {
        background-color: white;
    }
}

.greenBackground{
   
  animation-name: greenflash;
  animation-duration: 0.3s;
  animation-iteration-count:infinite;
}

@keyframes greenflash
{
    0%{
         background-color: white;
    }
    
    50%{
         background-color: rgb(113, 240, 115);
    }
    100%
    {
        background-color: white;
    }
}
.btn{
    text-align: center;
    border: 2px solid black;
    width: 150px;
    height: 80px;
    border-radius: 10px;
        margin: 5px;
}